@model SES.Models.CodeForPermissionModel

@{
    ViewData["Title"] = "SendCodeForPermission";
}


<div class="container">
    <h4>Форма подтверждения разрешения </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="sendCodePermissionForm" asp-action="SendCodeForPermission">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="RequestId" value="@ViewData["RequestId"]" class="form-control" type="hidden" />
                <input asp-for="Pin" value="@ViewData["Pin"]" class="form-control" type="hidden" />
                <div class="form-group">    
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" id="sendCodePermissionBtn" class="btn btn-primary">Запросить</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Назад</a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#sendCodePermissionBtn").click(function () {
                var myForm = $("#sendCodePermissionForm")
                if (myForm) {
                    $(this).prop("disabled", true);
                    $(myForm).submit();
                    $(this).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> обработка`
                    );
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
